.pr-lang-dropdown {
    margin-right: 40px;
}

.dropdown {
    display: flex;
    justify-content: end;
}

.pr-dropdown-user {
    padding: 0;
    border-radius: 50%;
}
.pr-dropdown-user::after {
    display: none;
}
.dropdown-user .dropdown-item {
    display: flex;
    align-items: center;
}