.pr-lang-dropdown {
    margin-right: 40px;
}

.dropdown {
    display: flex;
    justify-content: end;
}

.pr-dropdown-user {
    padding: 0;
    border-radius: 50%;
}
.pr-dropdown-user::after {
    display: none;
}
.dropdown-user .dropdown-item {
    display: flex;
    align-items: center;
}

.pr-aside {
    height: 100vh;
    position: sticky;
    top: 0;
}

.pr-aside-menu-list {
    height: 100%;
    overflow-y: scroll;
}

.pr-not-found-wrp {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pr-not-found-wrp .misc-wrapper {
    text-align: center;
}