.dropdown .btn {
    padding: 10px 15px;
}

.dropdown {
    display: flex;
    justify-content: end;
}

.pr-dropdown-user {
    padding: 0;
    border-radius: 50%;
}
.pr-dropdown-user::after {
    display: none;
}